@import url('https://fonts.cdnfonts.com/css/atari');
body {background-color: black;}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Atari', sans-serif;
    font-size: 20px;
    gap:50px;
    
}
.options   {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.reload {
    display: none;
}

img {
    max-width: 20%;
    max-height: 25%;
}
button {
    max-width: 205%;
    max-height: 15%;
    
}